@font-face {
	font-family: Agency FB;
	src: url('agency-fb.ttf');
}

@import url(https://allfont.net/allfont.css?fonts=agency-fb);

body {
    margin: 0;
}

.idx-first {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 255, 34), rgb(111, 0, 255));
}

.idx-space {
    height: 1vh;
}

.idx-second {
    margin: 0;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 204, 255),rgb(255, 60, 0));
}

.idx-title {
    line-height: 100vh;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 40vh;
    font-family: 'Agency FB', arial;
    padding: 0px 0px;
}

.idx-desc {
    margin: 0;
    font-family: 'Agency FB', arial;
    color: #ffffff;
    padding: 3vh 0vh;
    font-size: 15vh;
    text-align: center;
}

.idx-projects {
    border-radius: 0.5vh;
    width: 20vh;
    height: 10vh;
    margin: 0;
    text-align: center;
    font-size: 4vh;
    padding: 1vh 4vh;
    font-family: 'Agency FB', arial;
    color: #ffffff;
    border: solid 0.25vh #ffffff;
}

.idx-oneline {
    line-height: 10vh;
}

.idx-p01 {
    position: absolute;
    left: 15%;
    top: 125vh;
}

.idx-p02 {
    position: absolute;
    left: 30%;
    top: 125vh;
}

.idx-p03 {
    position: absolute;
    left: 45%;
    top: 125vh;
}

.idx-p04 {
    position: absolute;
    left: 60%;
    top: 125vh;
}

.idx-p05 {
    position: absolute;
    left: 75%;
    top: 125vh;
}

.idx-p06 {
    position: absolute;
    left: 25%;
    top: 140vh;
}

.idx-p07 {
    position: absolute;
    left: 35%;
    top: 140vh;
}

.idx-p08 {
    position: absolute;
    left: 45%;
    top: 140vh;
}

.idx-p09 {
    position: absolute;
    left: 55%;
    top: 140vh;
}

.idx-p10 {
    position: absolute;
    left: 65%;
    top: 140vh;
}

.idx-p11 {
    position: absolute;
    left: 25%;
    top: 155vh;
}

.idx-p12 {
    position: absolute;
    left: 35%;
    top: 155vh;
}

.idx-p13 {
    position: absolute;
    left: 45%;
    top: 155vh;
}

.idx-p14 {
    position: absolute;
    left: 55%;
    top: 155vh;
}

.idx-p15 {
    position: absolute;
    left: 65%;
    top: 155vh;
}

.idx-p16 {
    position: absolute;
    left: 25%;
    top: 170vh;
}

.idx-p17 {
    position: absolute;
    left: 35%;
    top: 170vh;
}


.idx-p18 {
    position: absolute;
    left: 45%;
    top: 170vh;
}

.idx-p19 {
    position: absolute;
    left: 55%;
    top: 170vh;
}

.idx-p20 {
    position: absolute;
    left: 65%;
    top: 170vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(153, 153, 153);;
}