@font-face {
	font-family: pcdown;
	src: url('pdown.ttf');
}

body {
    background-color: #202020;
    margin: 0;
}

.navbar {
    margin: 0;
    height: 5vh;
    background-color: #161616;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1.5px #616161;
}

.navbutton {
    padding: 0px 15px;
    position: relative;
    left: 70vh;
    font-size: 3vh;
    font-family: pcdown;
    line-height: 5vh;
    border: none;
    background-color: transparent;
    color: #a8a8a8;
    cursor: pointer;
}

.navbutton:hover {
    border-bottom: solid 1.5px #2f90ffda;
    color: #868686;
}

.navright {
    border-right: solid 3px #616161;
}

.index-news {
    color: #b4b4b4;
    border: solid 2px #2f90ffda;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: #2b2b2b;
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    padding: 0px 15px;
    overflow: auto;
}

.data-news {
    color: #b4b4b4;
    border: solid 2px #2f90ffda;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: #2b2b2b;
    width: 600px;
    height: 400px;
    max-width: 600px;
    max-height: 600px;
    padding: 0px 15px;
    overflow: auto;
    margin: 0;
}

h1 {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-left: 2px solid #2f90ffda;
}
  
::-webkit-scrollbar-thumb {
    background: #2f90ffda;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f3f75da;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 64vh;
    width: 64vh;
    padding: 0px 0px;
}
  
td {
    text-align: left;
    padding: 8px;
    max-width: 50vh;
    width: 50vh;
    color: #8a8a8a;
}

.t3 {
    border-bottom: #5f5f5f solid 0.0000001vh;
}

.t2{
    border-left: #5f5f5f solid 0.0000001vh;
    text-align: left;
    padding: 8px;
    max-width: 50vh;
    width: 50vh;
    color: #8a8a8a;
}

.pcdown {
    font-family: pcdown;
}