.idx-p01 {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 20vh;
}

.idx-p02 {
    position: absolute;
    left: 20%;
    top: 20vh;
}

.idx-p03 {
    position: absolute;
    left: 35%;
    top: 20vh;
}

.idx-p04 {
    position: absolute;
    left: 50%;
    top: 20vh;
}

.idx-p05 {
    position: absolute;
    left: 65%;
    top: 20vh;
}

.idx-p06 {
    position: absolute;
    left: 80%;
    top: 20vh;
}

.idx-p07 {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 60vh;
}

.idx-p08 {
    position: absolute;
    left: 20%;
    top: 60vh;
}

.idx-p09 {
    position: absolute;
    left: 35%;
    top: 60vh;
}

.idx-p10 {
    position: absolute;
    left: 50%;
    top: 60vh;
}

.idx-p11 {
    position: absolute;
    left: 65%;
    top: 60vh;
}

.idx-p12 {
    position: absolute;
    left: 80%;
    top: 60vh;
}

.idx-p13 {
    position: absolute;
    left: 57.5%;
    top: 100vh;
}

.idx-p14 {
    margin: 0;
    position: absolute;
    left: 27.5%;
    top: 100vh;
}

.idx-p15 {
    position: absolute;
    left: 42.5%;
    top: 100vh;
}

.idx-p01s {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 165vh;
}

.idx-p02s {
    position: absolute;
    left: 20%;
    top: 165vh;
}

.idx-p03s {
    position: absolute;
    left: 35%;
    top: 165vh;
}

.idx-p04s {
    position: absolute;
    left: 50%;
    top: 165vh;
}

.idx-p05s {
    position: absolute;
    left: 65%;
    top: 165vh;
}

.idx-p06s {
    position: absolute;
    left: 80%;
    top: 165vh;
}

.idx-p07s {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 205vh;
}

.idx-p08s {
    position: absolute;
    left: 20%;
    top: 205vh;
}

.idx-p09s {
    position: absolute;
    left: 35%;
    top: 205vh;
}

.idx-p10s {
    position: absolute;
    left: 50%;
    top: 205vh;
}

.idx-p11s {
    position: absolute;
    left: 65%;
    top: 205vh;
}
.idx-p12s {
    position: absolute;
    left: 80%;
    top: 205vh;
}

.idx-p01m {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 265vh;
}

.idx-p02m {
    position: absolute;
    left: 20%;
    top: 265vh;
}

.idx-p03m {
    position: absolute;
    left: 35%;
    top: 265vh;
}

.idx-p04m {
    position: absolute;
    left: 50%;
    top: 265vh;
}

.idx-p05m {
    position: absolute;
    left: 65%;
    top: 265vh;
}

.idx-p06m {
    position: absolute;
    left: 80%;
    top: 265vh;
}

.idx-p01b {
    margin: 0;
    position: absolute;
    left: 5%;
    top: 325vh;
}

.idx-p02b {
    position: absolute;
    left: 20%;
    top: 325vh;
}

.idx-p03b {
    position: absolute;
    left: 35%;
    top: 325vh;
}

.idx-p04b {
    position: absolute;
    left: 50%;
    top: 325vh;
}

.idx-p05b {
    position: absolute;
    left: 65%;
    top: 325vh;
}

.idx-p06b {
    position: absolute;
    left: 80%;
    top: 325vh;
}