@font-face {
	font-family: Agency FB;
	src: url('../../agency-fb.ttf');
}

@import url(https://allfont.net/allfont.css?fonts=agency-fb);¨

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(196, 174, 102);;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(145, 127, 67);;
}