::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(196, 174, 102);;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(145, 127, 67);;
}