@import url(https://allfont.net/allfont.css?fonts=agency-fb);

body {
    margin: 0;
}

.idx-header {
    margin: 0;
    height: 2vh;
    color: rgb(161, 138, 73);
}

button {
    cursor: pointer;
    font-size: 3vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.25vh rgb(161, 138, 73);
    font-family: 'Agency FB', arial;
}

button:hover {
    color: rgb(161, 138, 73);
}

.idx-namespace {
    color: rgb(161, 138, 73);
    text-align: center;
    margin: 0;
    height: 20vh;
    line-height: 20vh;
    font-size: 20vh;
    font-family: 'Agency FB', arial;
}

.idx-space {
    height: 4vh;
    background-image: linear-gradient(to right, rgb(145, 127, 67), rgb(196, 174, 102));
}

.idx-first {
    margin: 0;
    height: 138vh;
}

.idx-second {
    margin: 0;
    height: 100vh;
}

.idx-third {
    margin: 0;
    height: 56vh;
}

.idx-categories {
    background-image: linear-gradient(to right, rgb(145, 127, 67), rgb(196, 174, 102));
    border-radius: 0.5vh;
    width: 25vh;
    height: 10vh;
    line-height: 10vh;
    margin: 0;
    text-align: center;
    font-size: 4vh;
    padding: 1vh 4vh;
    font-family: 'Agency FB', arial;
    color: #ffffff;
    border: solid 0.25vh #ffffff;
}

.idx-posters {
    background-image: linear-gradient(to right, rgb(145, 127, 67), rgb(196, 174, 102));
    border: solid 0.25vh #ffffff;
    width: 20vh;
    height: 30vh;
    align-items: center;
    padding: 2vh 2vh;
}

.idx-postersb {
    background-image: linear-gradient(to right, rgb(145, 127, 67), rgb(196, 174, 102));
    border: solid 0.25vh #ffffff;
    width: 20vh;
    height: 17.5vh;
    align-items: center;
    padding: 2vh 2vh;
}

.idx-postername {
    margin: 0;
    text-align: center;
    padding: 0vh 0vh;
    font-size: 5vh;
    font-family: 'Agency FB', arial;
    color: #ffffff;
}

.idx-desc {
    color: rgb(161, 138, 73);
    margin: 0;
    font-family: 'Agency FB', arial;
    padding: 3vh 0vh;
    font-size: 10vh;
    text-align: center;
}

.idx-posterdescription {
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Agency FB', arial;
    padding: 3vh 2vh;
    font-size: 2vh;
    text-align: center;
}

.idx-singleline {
    line-height: 10vh;
}

.idx-dobbelline {
    line-height: 5vh;
}

.idx-tripleline {
    line-height: 4vh;
}
