@font-face {
	font-family: Agency FB;
	src: url('../Fonts/agency-fb.ttf');
}

@import url(https://allfont.net/allfont.css?fonts=agency-fb);

body {
	margin: 0;
}

.idx-footer {
	text-align: center;
	position: relative;
	top: 2vh;
	color: white;
	font-family: 'Agency FB', arial;
	text-decoration: none;
}
  
.idx-nounderline {
	text-decoration: none;
}

.srp-first {
	background-color: transparent;
	height: 85vh;
}

.srp-firstin {
	background-color: transparent;
	height: 95vh;
}

.srp-space {
	height: 0.1vh;
	background-color: #000000;
}

.srp-footer {
	height: 5vh;
	background-image: linear-gradient(to right, rgb(0, 183, 255),rgb(0, 75, 189));
}

.srp-navigation {
	line-height: 10vh;
	height: 10vh;
	background-image: linear-gradient(to right, rgb(0, 183, 255),rgb(0, 75, 189));
	align-items: center;
	text-align: center;
	align-self: center;
	align-content: center;
}

.srp-nbuttons {
	font-family: Agency FB;
	font-size: 7.5vh;
	padding: 0vh 5vh;
	background-color: transparent;
	cursor: pointer;
	border: none;
	color: #ffffff;
 	text-decoration: underline;
}

.srp-nbuttons:hover {
	color: #dddddd;
}